*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-tap-highlight-color: transparent;

    
    user-select: none;

}
html,body{
    /* background-color: #fff; */
    height: 100%;
    background: #fff;
}
main{
   
  /* border: 5px solid #8888dd; */
    display: flex;
    flex-direction: column;
    height: 100vh;
  
}

header{
     
    position: relative;
    /* border-top-right-radius: 4px;
    border-top-left-radius: 4px; */
    height: 60px;
background-color: #060212;
display: flex;
border-bottom: 2px solid #333;
justify-content: space-between;
 /* box-shadow:  1 4px 6px rgba(255, 255, 255, 0.3); */
}
#logo-cont{
    /* border: 2px solid #333; */
     place-content: center;
     padding: 20px;
}
#logo{
  
   text-align: center;


}
#logo span{
    color: #fff;
}

#profile-cont{
   
    place-content: center;
    padding: 0px 10px 0px;
    display: flex;
    gap: 10px;
    /* border: 2px solid #333; */
}
#nav{
    display: none;
place-content: center;
}
#nav ul li{
    list-style: none;
}

#ham{
    position: relative;
    width: 25px;
    
   
    display: flex;
    flex-direction: column;
    cursor: pointer;
    justify-content: space-between;
    gap: 5px;
    transition: all 0.3s ease;
}
#ham span{
    display: block;
    height: 3px;
    background: #6db7b4;
    border-radius: 4px;
    transition: all 0.3s ease;
}
#ham.active span:nth-child(1){
    transform:translateY(6px) rotate(45deg); 
}
#ham.active span:nth-child(2){
     opacity: 0;
}
#ham.active span:nth-child(3){
    transform:translateY(-6px) rotate(-45deg); 
}
.menu{
    z-index: 1000;
    display: none;
    
     position:absolute;
    right: 0;
   top: 100%;
    color: #fff;
    background: #6db7b4;
    list-style: none;
    width: 150px;
   
    border-radius: 4px;

   
  
    gap: 10px;

    /* transform: translateY(-10px); */
    transition: 0.3s ease;
    
}

.menu li{
    transition: all 0.3s ease;
    text-align: right;
    padding: 10px;
    cursor: pointer;
}
.menu.active{
    display: block;
}
.menu li:hover{
    
    background-color: #333;
}
#profile{
    border: 2px solid #333;
    cursor: pointer;
    /* border:3px solid #9f89ef; */
    text-align: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    place-content: center;
    color: #fff;
    background-color: #2c4d6d;
    transition: all 0.3s ease;


}

#profile:hover{
    background-color: #5c9d9b;

}
#content-cont{
    /* border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px; */
   flex-grow: 1;
    display: flex;
    background-color: #060212;
    
   }

   #sidebar{
 /* display: none; */
    /* height: 100%; */
   
    padding-top: 20px;
    padding-bottom: 20px;
    width: 80px;
    border-right: 1px solid #333;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
   position: relative;
   }


   #sidebar ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
   }
   #sidebar img{
    cursor: pointer;
   }
   .list-chat{
    cursor: pointer;
    /* border: 1px solid #fff; */
    justify-content: center;
    position: relative;
    display: flex;

   }
  .floating{
    z-index: 2;
     position: absolute;
     left: 100%;
     top: 30%;
     background-color: #b777ef;
     padding: 10px;
     border-radius: 4px;
     color: #fff;
    /* display: none; */
  opacity:0;
    pointer-events: none;
     transition: all 0.3s ease;
    
    
  }
.list-chat:hover .floating{
display: block;
opacity: 1;
transform: translate(0, -30%);
}
   #content{
    min-width: 0;
    color: #fff;
     /* padding-top: 20px;
  padding-bottom: 20px; */
    flex: 1;
  
    /* border: 2px solid #333; */
    display: flex;
   
    gap: 10px;
    
   }
   #list{
  display: flex;
  flex-direction: column;
  gap: 10px;
    max-width: 200px;
   padding: 20px;
   padding-left: 10px;
   padding-right: 10px;
    border-right:1px solid #333;
    overflow: hidden;
    text-overflow: ellipsis;
    
  

   }
   #pic{
   text-align: center;
    padding: 5px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid #fff;
   }
   #chat-box{
    min-width: 0;
    padding: 20px;
    padding-left: 10px;
    padding-right: 10px;
    flex: 1;
    display: none;
    flex-direction: column;
    
   }

   #list-contact{
    place-items: center;
    min-width: 40px;
    width: 180px;
    /* border: 2px solid #4b4e6d; */
    padding: 10px;
    border-radius: 10px;
    background-color: #2c4d6d;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    gap: 10px;
    transition: all 0.3s ease;
   }

   #list-contact:hover{
    background-color: #6db7b4;
   }

#span-cont{
     overflow: hidden;
    text-overflow: ellipsis;
}


   #chats-cont{
    
    flex: 1;
   }
#chat-head{
    min-width: 0;
    /* border: 2px solid #fff; */
    padding: 10px;
    border-radius: 4px;
    background-color:#2c4d6d;
    display: flex;
    justify-content: space-between;
}
#prof-cont{
    display: flex;
    gap: 10px;
}


#calling-id{
    place-content: center;
    cursor: pointer;
}



   #chatbtn-cont{
    min-width: 0;
    text-align: center;
    display: flex;
    gap: 10px;

   }
   #msginput{
    min-width: 0;
    height: 40px;
    background-color: #2c4d6d;
    color: #f6f3e9;
    padding: 10px;
    border-radius: 12px;
    border:none;
    outline: none;
    font-size: 16px;
flex: 1;
   }


   #msginput::placeholder{
    color: #fff;
   }
   #send{
    padding: 10px;
   border-radius: 4px;
   border: none;
   transition: all 0.3s ease;
   cursor: pointer;
   background-color: #6db7b4;
   color: #fff;

   }
   #send:hover{
    background-color:#2c4d6d;
    color: #fff;
   }

   @media screen and  (max-width:580px){
    main{
       
    }
    #sidebar{
        /* display: none; */
    visibility: hidden;
    width: 0;
    
    }
 


    #nav{
        display: block;
    }

    #chat-box{
        display: none;
    }

    
    #list{
  
    max-width: 100%;
 
    
  

   }
   #list-contact{
    place-items: center;
    min-width: 100%;
    
    /* border: 2px solid #4b4e6d; */
 
   }

   }

   #chat-box.active{
        display:flex;
    }

    #chat-intro{
        flex: 1;
        text-align: center;
        padding: 20px;
        place-content: center;
    }

#back-cont{
    display: none;
    place-content: center;
}
#back-cont button{
    background-color: #6db7b4;
    border:none;
    color: #fff;
    border-radius: 16px;
    padding: 5px;
    transition: all 0.3s ease;  
       
}
#back-cont button:hover{
background-color: #5c9d9b;
}
    @media screen and (max-width:540px){
        #chat-intro{
            display: none;
        }

        #chat-box{
            display: none;
            
        }
        #list{
            flex: 1;
        }
        #notice{
           display: block;
            text-align: center;
        }
        #back-cont{
   
    display:block;
    
}
    }





    /* Profile details menu */
    .profile-details{
        display: none;
        background-color: #121212;
        color: #fff;
        position:absolute ;
        width: 100%;
       height: calc(100vh - 60px);
        top:100%;
        z-index: 100;
       
    }

    #profile-pic{
        margin-top: 20px;
        margin-left: 20px;
        padding: 20px;
        background-color: #5c9d9b;
        width: max-content;
        border-radius: 50%;
    }
    #profile-elements{
        padding-top: 20px;

    }
    #profile-list{
        
        display: flex;
        min-width: 0;
        gap: 10px;
        justify-content: space-between;
        list-style: none;
        /* background-color: #2c4d6d; */
       
    }
   #li{
        /* background-color: #333; */
        padding-left: 20px;
        padding-top: 10px;
        cursor: pointer;
    }
    #edit{
        place-content: center;
        /* border-radius: 18px; */
        cursor: pointer;
        /* background-color: #333; */
        padding:10px;
        /* transition: all o.3 ease; */

    }
    /* #edit:hover{
        background-color: #5c9d9b;
    } */
    .profile-details.active{
        display: block;
    }


    /* sidebar option menu */

    #options{
        top: 0%;
        background-color: #121212;
        z-index: 1;
        position: absolute;
        left: 100%;
        width: calc(100vw - 80px);
        height: 100%;
        padding-top: 20px;
        
        padding-left: 10px;
        padding-right: 10px;
       
      
    }
    .options{
        display: none;
    }
    .options.active{
        display: block;
    }

.close{
    cursor: pointer;
    place-content: center;
    color: #fff;
    width:25px;
    height: 25px;
   border-radius: 50%;
    background-color: #6db7b4;
    position: absolute;
    /* padding-top: 5px; */
    right: 10px;
    top: 1px;
    border: 2px solid #333;
}

     /* #iframe{
   
    background: transparent;
    border: none;
    width: 100%;
  } */
    /* mobile nav panle for settings */
    #nav-panel{
        width: 100%;
        background-color: #121212;
        position: absolute;
        top:100%;
        right: 0%;
        color: #fff;
        height: calc(100vh - 60px);
    }
   #nav-iframe{
   
    background: transparent;
    border: none;
    width: 100%;
  }
  .nav-panel{
    display: none;
  }
  .nav-panel.active{
    display: block;
  }

 

  
 #options-element{
       
    color: #fff;
    background-color: #2c4d6d;
   border-radius: 4px;
    }
   #options-element ul{
    cursor: pointer;
    text-align: left;
    padding: 11px;
    /* background-color: #333; */
    /* border: 1px solid #060212; */
    list-style: none;
      transition: all 0.3s ease;
   }
  

   #options-element ul:hover{
 background-color:#5c9d9b ;
 border-radius: 4px;
   }
  
    
    #logout{
        place-content: center;
       
        transition: all 0.3s ease;
    }


    #contact-options{
        top: 0%;
        background-color: #121212;
        z-index: 1;
        position: absolute;
        left: 100%;
        width: calc(100vw - 80px);
        height: 100%;
        padding-top: 20px;
       
    }
    .contact-options{
         display: none;
    }
    .contact-options.active{
        display: block;
    }
     #list-contact2{
      place-items: center;
        margin: 0 auto;
      width: 90%;
    
    /* border: 2px solid #4b4e6d; */
    padding: 10px;
    border-radius: 10px;
    background-color: #2c4d6d;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    gap: 10px;
    transition: all 0.3s ease;
   }

   #list-contact2:hover{
    background-color: #6db7b4;
   }
    
 #options-element2{
    display: flex;
    flex-direction: column;
    gap: 10px;
       padding-top:6px ;
    color: #fff;
    }
#notice{
    
    color: #fff;
}



 #help-options{
        top: 0%;
        background-color: #121212;
        z-index: 1;
        position: absolute;
        left: 100%;
        width: calc(100vw - 80px);
        height: 100%;
        padding-top: 20px;
       
    }
 .help-options{
         display: none;
    }
   .help-options.active{
        display: block;
    }


#chat-notice{
    padding: 4px;
    display: none;
}





    @media screen and (max-width:580px) {
           #options{
    
        visibility: visible;
        width: calc(100vw - 80px + 80px);
        background-color: #121212;
           }
        #contact-options{
            visibility: visible;
        width: calc(100vw - 80px + 80px);
        background-color: #121212;
        }
         #contact-options #list-contact{
        margin:0px auto;
       
    }
  #help-options{
            visibility: visible;
        width: calc(100vw - 80px + 80px);
        background-color: #121212;
        }
        #chat-notice{
    display: block;
}



       
    
    }