#login-screen{
    display: flex;
    flex-direction: column;
     height: 100vh;
    
    
}
#login-container{
     
    flex-grow: 1;
    display: flex;
    background-color: #181d20;
    place-content: center;
     padding: 20px;
     flex-direction: column;
    
}
h2{
    text-align: center;
    padding: 5px;
    color: #47d5a6;
    border-radius: 4px;
    /* background-color: #22946e; */
}
h3{
    text-align: center;
    padding: 5px;
    color: #47d5a6;
}
#form-container{
   border-radius: 8px;
    width: 100%;
    max-width: 360px;
    padding: 20px;
    margin: 0 auto;
    background: #181d20;
    border: 2px solid #22946e;
    /* box-shadow: 0 0 5px rgba(153, 234, 188, 0.3); */
}
#form{
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 15px;
      
}
input[type="email"], 
    [type="password"], [type="text"]{
     /* box-shadow: 0 0 5px rgba(153, 234, 188, 0.3); */
    border-radius: 2px;
    outline: none;
    border: none;
    color:#fff;
    border-bottom: 2px solid #c8e6f0;
    font-size: 16px;
    padding: 10px;
    background: transparent;
}
input [type="checkbox"]{
    
 box-shadow: none;
 border: 2px solid #47d5a6;
  background: #007bff;
}

#form button{
    cursor: pointer;
    background-color: #22946e;
    color: #fff;
    padding: 15px;
    border: none;
    border-radius: 4px;
    transition: all 0.3s ease;
}

#form button:hover{
  
    background-color: #53c59f;
  
   
  
 
}

#google-cont{
margin: 0 auto;
text-align: center;
}

#google{
    /* display: flex; */
    min-width: 0;
    /* gap: 10px; */
    justify-content: center;
text-align: center;
color: #333;



}
#google-btn{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
color: #333;
padding:10px;
border-radius: 4px;
background-color: #fff;  
cursor: pointer;
border: none;
transition: all 0.3s ease;
}

#google-btn:hover{
     background-color: #e3e8e6;
}

#google-icon{
    display: flex;
    gap: 10px;
    padding: 5px;
}





#footer{
    background-color: #060212;
    padding: 20px;
    text-align: center;
color: #fff;

}