#login-screen{
    display: flex;
    flex-direction: column;
     height: 100vh;
    
    
}
#login-container{
     
    flex-grow: 1;
    display: flex;
    background-color: #181d20;
    place-content: center;
     padding: 20px;
     flex-direction: column;
    
}
h2{
    text-align: center;
    padding: 10px;
    color: #47d5a6;
}
#form-container{
   border-radius: 8px;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    margin: 0 auto;
    background: #181d20;
    box-shadow: 0 0 5px rgba(153, 234, 188, 0.3);
}
#form{
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 20px;
      
}
#form input{
     box-shadow: 0 0 5px rgba(240, 248, 255, 0.3);
    border-radius: 14px;
    outline: none;
    border: 2px solid #c8e6f0;
    font-size: 18px;
    padding: 10px;
}

#form button{
    cursor: pointer;
    background-color: #22946e;
    color: #fff;
    padding: 15px;
    border: none;
    border-radius: 14px;
    transition: all 0.3s ease;
}
#form button:hover{
    cursor: pointer;
    background-color: #53c59f;
    color: #fff;
    padding: 15px;
    border: none;
    border-radius: 14px;
}

#footer{
    background-color: #060212;
    padding: 20px;
    text-align: center;
color: #fff;

}